@page "/Campaigns/create"

@rendermode InteractiveServer

@using Application.DTO
@using Application.Services.Campaigns
@using System.ComponentModel.DataAnnotations
@inject ICampaignService CampaignService
@inject NavigationManager NavigationManager

<PageTitle>Create Campaigns</PageTitle>

   <h3>Create Campaign</h3>
     <MudCard>
@* <MudButton Href="/Campaigns" Variant="Variant.Filled" Color="Color.Secondary">Back to List</MudButton> *@
  <MudCardHeader Class="d-flex justify-space-between align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="BackToCampaigns" StartIcon="@Icons.Material.Filled.ArrowBack">
                    Back to Campaigns
                </MudButton>
                <MudText Typo="Typo.h5" Class="ml-auto">Campaign Details</MudText>
            </MudCardHeader>
<div class="container mt-4">
  <div class="row justify-content-center">

<EditForm Model="@Model" OnValidSubmit="OnvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary  class="alert alert-danger py-2 mb-3"/>


    <div class="row g-2 mb-2"> 
       <div class="col-md-6 ">
            <label for="Name" class="form-label"> Name</label>
            <InputText id="Name" class="form-control" @bind-Value="Model.Name" placeholder="Enter Name" />
            <ValidationMessage For="@(() => Model.Name)" class="text-danger"/>
       </div>
       <div class="col-md-6 ">
            <label for="Description" class="form-label"> Description</label>
            <InputText id="Description" class="form-control" @bind-Value="Model.Description" placeholder="Enter Description" />
            <ValidationMessage For="@(() => Model.Description)" class="text-danger"/>
       </div>
       <div class="col-md-6 ">
            <label for="Type" class="form-label"> Type</label>
            <InputText id="Type" class="form-control" @bind-Value="Model.Type" placeholder="Enter Type" />
            <ValidationMessage For="@(() => Model.Type)" class="text-danger"/>
       </div>
       @* <div class="col-md-6 ">
            <label for="StartDate" class="form-label"> StartDate</label>
            <InputText id="StartDate" class="form-control" @bind-Value="Model.StartDate" placeholder="Enter StartDate" />
            <ValidationMessage For="@(() => Model.StartDate)" class="text-danger"/>
       </div>
        <div class="col-md-6 ">
            <label for="EndDate" class="form-label"> EndDate</label>
            <InputText id="EndDate" class="form-control" @bind-Value="Model.EndDate" placeholder="Enter EndDate" />
            <ValidationMessage For="@(() => Model.EndDate)" class="text-danger"/>
       </div> *@
        <div class="col-md-6 ">
            <label for="Budget" class="form-label"> Budget</label>
            <InputText id="Budget" class="form-control" @bind-Value="Model.Budget" placeholder="Enter Budget" />
            <ValidationMessage For="@(() => Model.Budget)" class="text-danger"/>
       </div>
        <div class="col-md-6 ">
            <label for="Status" class="form-label"> Status</label>
            <InputText id="Status" class="form-control" @bind-Value="Model.Status" placeholder="Enter Status" />
            <ValidationMessage For="@(() => Model.Status)" class="text-danger"/>
       </div>
    <div>
       @* <button type="submit" class="btn btn-primary mt-3">Create Campaign</button>
       <a href="/Campaigns" class="btn btn-link btn text-muted">Cancel</a> *@

        <button type="submit" class="btn btn-primary mt-3">Create Campaign</button>

      <MudButton Href="/Campaigns" Variant="Variant.Filled" Color="Color.Error">Cancel</MudButton>
       @* <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnvalidSubmit">Create Campaign</MudButton> *@
    </div>
    </div>
    </EditForm>
    </div>  
    </div>
      </MudCard>
     

@code{
    private CampaignCreateDTO Model { get;set; } =new();
    private void OnvalidSubmit()
    {
        CampaignService.CreateCampaign(Model);
        NavigationManager.NavigateTo("/Campaigns");
    }

    private void BackToCampaigns()
    {
        NavigationManager.NavigateTo("/Campaigns");
    }
}
      
    


