@page "/Customers/create"

@rendermode InteractiveServer

@using Application.DTO
@using Application.Services.Customers
@using System.ComponentModel.DataAnnotations
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<PageTitle>Create Customer</PageTitle>


   
  @* <a href="/Customers" class="btn btn-secondary">Back to List</a> *@
 <MudButton Href="/Customers" Variant="Variant.Filled" Color="Color.Secondary">Back to List</MudButton>
       
    <h3>Create Customer</h3>
<div class="container mt-4">
  <div class="row justify-content-center">

<EditForm Model="@Model" OnValidSubmit="OnvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary  class="alert alert-danger py-2 mb-3"/>

    @* <div class="row g-2 mb-2"> 
       <div class="col-md-6 ">
            <label for="FirstName" class="form-label"> Name</label>
            <InputText id="FirstName" class="form-control" @bind-Value="Model.Name" placeholder="Enter Name" />
            <ValidationMessage For="@(() => Model.Name)" class="text-danger"/>
       </div>
       <div class="col-md-6 ">
            <label for="Email" class="form-label"> Email</label>
            <InputText id="Email" class="form-control" @bind-Value="Model.Email" placeholder="Enter Email" />
            <ValidationMessage For="@(() => Model.Email)" class="text-danger"/>
       </div>
       <div class="col-md-6 ">
            <label for="PhoneNumber" class="form-label"> PhoneNumber</label>
            <InputText id="PhoneNumber" class="form-control" @bind-Value="Model.PhoneNumber" placeholder="Enter Phone Number" />
            <ValidationMessage For="@(() => Model.PhoneNumber)" class="text-danger"/>
       </div>
       <div class="col-md-6 ">
            <label for="Address" class="form-label"> Address</label>
            <InputText id="Address" class="form-control" @bind-Value="Model.Address" placeholder="Enter Address" />
            <ValidationMessage For="@(() => Model.Address)" class="text-danger"/>
       </div>
        <div class="col-md-6 ">
            <label for="City" class="form-label"> City</label>
            <InputText id="City" class="form-control" @bind-Value="Model.City" placeholder="Enter City" />
            <ValidationMessage For="@(() => Model.City)" class="text-danger"/>
       </div>
        <div class="col-md-6 ">
            <label for="Type" class="form-label"> Type</label>
            <InputText id="Type" class="form-control" @bind-Value="Model.Type" placeholder="Enter Type" />
            <ValidationMessage For="@(() => Model.Type)" class="text-danger"/>
       </div>
        <div class="col-md-6 ">
            <label for="CreatedBy" class="form-label"> CreatedBy</label>
            <InputText id="CreatedBy" class="form-control" @bind-Value="Model.CreatedBy" placeholder="Enter CreatedBy" />
            <ValidationMessage For="@(() => Model.CreatedBy)" class="text-danger"/>
       </div>
    <div> *@
    
   
        <MudGrid Spacing="3">
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Name" Label="Customer Name" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Email" Label="Email" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.PhoneNumber" Label="Phone Number" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="Address" @bind-Value="Model.Address" Required="true" Variant="Variant.Filled">
                </MudTextField>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="City" @bind-Value="Model.City" Required="true" Variant="Variant.Filled"> 
                </MudTextField>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="Type" @bind-Value="Model.Type" Required="true" Variant="Variant.Filled">
                </MudTextField>
            </MudItem>
           
             <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="CreatedBy" @bind-Value="Model.CreatedBy" Required="true" Variant="Variant.Filled">
                </MudTextField>
             </MudItem>
                  </MudGrid>

       @* <button type="submit" class="btn btn-primary mt-3">Create Customer</button> *@
      <MudButton Href="/Customers" Variant="Variant.Filled" Color="Color.Error">Cancel</MudButton>
       <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnvalidSubmit">Create Customer</MudButton>
 
    </EditForm>
    </div>  
    </div>
     

@code{
    private CustomerCreateDTO Model { get;set; } =new();
    private void OnvalidSubmit()
    {
        CustomerService.CreateCustomer(Model);
        NavigationManager.NavigateTo("/Customers");
    }
}