
@using Application.Services.Campaigns
@using Domain.Entities
@using Application.Services.Customers
@using MudBlazor
@inject IDialogService DialogService
@page "/Customers"

@inject ICustomerService CustomerService 

<PageTitle>Customer</PageTitle>

<h3>Welcome to Customers page</h3>

<div> 
@* <a href="/Customers/create" class="btn btn-secondary">Add Customer</a> *@
      @* <MudButton Href="/Customers/create" Variant="Variant.Filled" Color="Color.Primary">Add Customer</MudButton> *@
<MudSpacer />
<MudButton Color="Color.Primary"
                   Variant="Variant.Filled"
                   OnClick="OpenCreateDialog">Add New Customer </MudButton>
</div>
<MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
    <MudPaper Elevation="0" Class="mb-6">
        <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Class="p-6">
            <MudTable Items="customers" Hover="true" Bordered="true" Striped="true">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>Name</MudTh>
                    <MudTh>Email</MudTh>
                    <MudTh>Address</MudTh>
                    <MudTh>PhoneNumber</MudTh>
                    <MudTh>City</MudTh>
                    <MudTh>Type</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>CreatedAt</MudTh>
                    <MudTh>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd >@context.Id</MudTd>
                    <MudTd >@context.Name</MudTd>
                    <MudTd >@context.Email</MudTd>
                    <MudTd >@context.Address</MudTd>
                    <MudTd >@context.PhoneNumber</MudTd>
                    <MudTd >@context.City</MudTd>f
                    <MudTd >@context.Type</MudTd>
                    <MudTd >@context.Status</MudTd>
                    <MudTd >@context.CreatedAt</MudTd>
                   
                    
                   
                        <MudStack Row="true" Spacing="2" Justify="Justify.Center">
                            <MudButton Href="@string.Format("/Customers/Edit/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Warning" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.Edit">
                                Edit
                            </MudButton>
                            <MudButton Href="@string.Format("/Customers/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Primary" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.MoreHoriz">

                                View
                              
                           </MudButton>
                        </MudStack>
                </RowTemplate>

            </MudTable>
            
     </MudStack>
     </MudPaper>

</MudContainer>
  

@code {
    List<Customer> customers = new List<Customer>();
    protected override void OnInitialized()
        {
            customers = CustomerService.GetAllCustomers();
        }  
        protected IDialogReference dialogReference;

         private async Task OpenCreateDialog()
    {
        var parameters = new DialogParameters<CustomerCreateDialog> { };
        var options = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };
        
        var dialog = await DialogService.ShowAsync<CustomerCreateDialog>("Create Customer", parameters, options);
        await dialog.Result;

        // Refresh campaigns list after dialog closes
        customers = CustomerService.GetAllCustomers();
        StateHasChanged();
    }   
    }
  