@page "/Campaigns/Edit/{Id:int}"

@rendermode InteractiveServer

@using Application.DTO
@using Application.Services.Campaigns
@using System.ComponentModel.DataAnnotations


@inject ICampaignService CampaignService
@inject NavigationManager NavigationManager
<PageTitle>Edit Campaign</PageTitle>

@* <h3>Edit Campaign</h3> *@
@* <a href="/Campaigns" class="btn btn-secondary">Back to List</a> *@
      @* <MudButton Href="/Campaigns" Variant="Variant.Filled" Color="Color.Primary">Back to List</MudButton> *@

    <h3>Edit Campaign</h3>
    @if (loaded)
    {
         <MudCard>
             <MudCardHeader Class="d-flex justify-space-between align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="BackToCampaigns" StartIcon="@Icons.Material.Filled.ArrowBack">
                    Back to Campaigns
                </MudButton>
                <MudText Typo="Typo.h5" Class="ml-auto">Campaign Details</MudText>
            </MudCardHeader>
        <div class="container mt-4">
        <div class="row justify-content-center">

        <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary  class="alert alert-danger py-2 mb-3"/>     
            <MudGrid Spacing="3">
           
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Name" Label="Name" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Description" Label="Description" Required="true" Variant="Variant.Filled" Lines="3" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="Budget" @bind-Value="Model.Budget" Required="true" Variant="Variant.Filled"> 
                </MudTextField>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="Status" @bind-Value="Model.Status" Required="true" Variant="Variant.Filled">
                </MudTextField>
            </MudItem>
             <MudItem xs="12" sm="6">
                <MudDatePicker T="string" Label="End Date" @bind-Value="Model.EndDate" Required="true" Variant="Variant.Filled">
                </MudDatePicker>
            </MudItem>

             <MudItem xs="12" sm="6">
                <MudDatePicker T="string" Label="Start Date" @bind-Value="Model.StartDate" Required="true" Variant="Variant.Filled">
                </MudDatePicker>
            </MudItem>

            @* <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.ClosedAt" Label="Closed At" Variant="Variant.Filled" />
            </MudItem> *@
        </MudGrid>

            <button type="submit" class="btn btn-primary mt-3">Edit Campaign</button>
            @* <a href="/Campaigns" class="btn btn-link btn text-muted">Cancel</a> *@
            <MudButton Href="@string.Format("/Campaigns")" Variant="Variant.Text" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Cancel">Cancel</MudButton>
            @* <MudButton Type="Submit" Variant="Variant.Filled" OnClick="Campaigns" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit">Edit Campaign</MudButton> *@
          
            </EditForm>
          </div>  
         </div>
             </MudCard>





    
    }
    else
    {
        <p>Loading...</p>
        }

    

@code{
    [Parameter]
    public int Id { get; set; }

    public CampaignUpdateDTO Model{ get;set;}=new();
    private bool loaded;

    protected override void OnParametersSet()
    
    {
        var campaign=CampaignService.GetCampaignById(Id);
        if(campaign!=null)
        {
            Model=new CampaignUpdateDTO
            {
                Name=campaign.Name??"", 
                Description=campaign.Description??"",
                Budget=campaign.Budget??"",
                Status=campaign.Status?? "",
                @* CreatedBy=campaign.CreatedBy, *@
                
                
            };
            loaded=true;
        }
       
    }
    private  void OnValidSubmit()
    {
        if (Model == null) return;
        CampaignService.UpdateCampaign(Id,Model);
        NavigationManager.NavigateTo("/Campaigns");
    }

    private void BackToCampaigns()
    {
        NavigationManager.NavigateTo("/Campaigns");
    }
}
