
@page "/SupportTicket"


<h3>Support Ticket</h3>

@using Domain.Entities
@using Application.Services.Tickets
@using MudBlazor
@inject ITicketService TicketService



<PageTitle>Ticket</PageTitle>


  @* <a href="/SupportTicket/create" class="btn btn-secondary ">AddTicket</a> *@
      @* <MudButton Href="/SupportTicket/create" Variant="Variant.Filled" Color="Color.Primary">Add Ticket</MudButton> *@
<MudSpacer />
 <MudButton Href="/SupportTicket/create"  StartIcon="@Icons.Material.Filled.Add"  Variant="Variant.Filled"  Color="Color.Primary" Size="Size.Large"> Add New Ticket</MudButton>


<MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
    <MudPaper Elevation="0" Class="mb-6">
        <MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center" Class="p-6">
            <MudTable Items="_supportTicket" Hover="true" Bordered="true" Striped="true">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>CustomerId</MudTh>
                    <MudTh>Subject</MudTh>
                    <MudTh>Description</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>CreatedAt</MudTh>
                    <MudTh>CreatedBy</MudTh>
                    <MudTh>Priority</MudTh>
                    <MudTh>Type</MudTh>
                    <MudTh>ClosedAt</MudTh>
                    <MudTh>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd >@context.Id</MudTd>
                    <MudTd >@context.CustomerId</MudTd>
                    <MudTd >@context.Subject</MudTd>
                    <MudTd >@context.Description</MudTd>
                    <MudTd >@context.Status</MudTd>
                    <MudTd >@context.CreatedAt</MudTd>
                    <MudTd >@context.CreatedBy</MudTd>
                    <MudTd >@context.Priority</MudTd>
                    <MudTd >@context.Type</MudTd>
                    <MudTd >@context.closedAt</MudTd>
                    <MudTd Style="text-align:center"> </MudTd>
                        <MudStack Row="true" Spacing="2" Justify="Justify.Center">
                            <MudButton Href="@string.Format("/SupportTicket/Edit/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Warning" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.Edit">
                                Edit
                            </MudButton>
                            <MudButton Href="@string.Format("/SupportTicket/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Primary" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.MoreHoriz">
                                View
                            </MudButton>
                        </MudStack>
                    

                </RowTemplate>

            </MudTable>
 @* <table class="table">
        <thead>
            <tr>
            <th>Id</th>
            <th>CustomerId</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>CreatedBy</th>
            <th>Priority</th>
            <th>Type</th>
            <th>ClosedAt</th>
            <th>Action</th>
            </tr>
        </thead>
    @foreach (var Ticket in _supportTicket)

    {
          <tr>
            <td>@Ticket.Id</td>
            <td>@Ticket.CustomerId</td>
            <td>@Ticket.Subject</td>
            <td>@Ticket.Description</td>
            <td>@Ticket.Status</td>
            <td>@Ticket.CreatedAt</td>
            <td>@Ticket.CreatedBy</td>
            <td>@Ticket.Priority</td>
            <td>@Ticket.Type</td>
            <td>@Ticket.closedAt</td> *@
             
                  @* <a href="/SupportTicket/@Ticket.Id" class="btn btn-primary">Details</a>
                  <a href="/SupportTicket/Edit/@Ticket.Id" class="btn btn-primary">Edit</a> *@
                  @* <MudTd DataLabel="Actions" Style="text-align:center">
                    <MudStack Row="true" Spacing="2" Justify="Justify.Center">
             <MudButton Href="@string.Format("/SupportTicket/Edit/{0}", Ticket.Id)" 
                                   Variant="Variant.Filled" 
                                   Color="Color.Warning" 
                                   Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Edit">
                            Edit
                        </MudButton>
             <MudButton Href="@string.Format("/SupportTicket/{0}", Ticket.Id)" 
                                   Variant="Variant.Filled" 
                                   Color="Color.Primary" 
                                   Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.MoreHoriz">
                            View
                        </MudButton>
                       </MudStack>
                </MudTd>
            </td>
             </tr>
    }
    </table>
     </MudStack>
     </MudPaper> *@
      </MudStack>
     </MudPaper>

</MudContainer>


@code {

    List<Ticket> _supportTicket = new List<Ticket>();
     protected override void OnInitialized()
        {
     _supportTicket = TicketService.GetAllTickets().ToList();
             
        }
       
    }
  

   
