
@using Application.DTO
@using Application.Services.Users
@using Domain.Entities

@using MudBlazor

@page "/User"

@inject IIdentityService IdentityService 

<PageTitle>User</PageTitle>

<h3>Welcome to Users page</h3>

@* <a href="/Customers/create" class="btn btn-secondary">Add Customer</a> *@
      @* <MudButton Href="/Customers/create" Variant="Variant.Filled" Color="Color.Primary">Add Customer</MudButton> *@
<MudSpacer />
 <MudButton Href="/User/create" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">Add New User </MudButton>

<MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
    <MudPaper Elevation="0" Class="mb-6">
        <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Class="p-6">
            <MudTable Items="users" Hover="true" Bordered="true" Striped="true">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>FirstName</MudTh>
                    <MudTh>LastName</MudTh>
                    <MudTh>Email</MudTh>
                    <MudTh>EmailConfirmed</MudTh>
                    <MudTh>PhoneNumber</MudTh>
                    <MudTh>CreatedAt</MudTh>
                    <MudTh>UpdatedAt</MudTh>
                    <MudTh>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd >@context.Id</MudTd>
                    <MudTd >@context.FirstName</MudTd>
                    <MudTd >@context.LastName</MudTd>
                    <MudTd >@context.Email</MudTd>
                    <MudTd >@context.EmailConfirmed</MudTd>
                    <MudTd >@context.PhoneNumber</MudTd>
                    <MudTd >@context.CreatedAt</MudTd>
                    <MudTd >@context.UpdatedAt</MudTd>
                        <MudStack Row="true" Spacing="2" Justify="Justify.Center">
                            <MudButton Href="@string.Format("/User/Edit/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Warning" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.Edit">
                                Edit
                            </MudButton>
                            <MudButton Href="@string.Format("/User/Details/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Primary" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.MoreHoriz">

                                View
                              
                           </MudButton>
                        </MudStack>
                         
                </RowTemplate>

            </MudTable>
            
     </MudStack>
     </MudPaper>

</MudContainer>
  

@code {
    List<UserDetailDTO> users = new List<UserDetailDTO>();
    protected override async Task OnInitializedAsync()
        {
            users = await IdentityService.GetAllUsers();
        }     
    }
    
  